.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero-section {
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-dark);
    overflow: hidden;
    position: relative;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.hero-image {
    width: auto;
    height: 150%;
    object-fit: cover;
    position: absolute;
    bottom: -30%;
}

.hero-tagline {
    position: absolute;
    bottom: 1vh;  /* Moves text slightly up from the bottom */
    right: 3vw;  /* Aligns text to the right */
    color: white;
    font-size: 1rem;
    text-align: right;
}